body{
    background: url(../img/background.png);
    font-family: Areal, sans-serif;
    margin: 0;
    padding: 0;
    
}

.container {
    margin: 0 auto;
    width: 960px;
}

.clearfix{
    content: "";
    display: table;
    width: 100%;
    clear: both;
}

/*UP_MENU*/

.up_menu{
    background-color: #100e0e;
    padding: 10px 0;
}

.up_menu ul{
    display: block;
    margin: 0;
    padding: 0;
}

.up_menu li{
    display: block;
    float: left;
    margin-right: 20px;
}

.up_menu a{
    margin: 0;
    color: #d1d1d1;
    font-size: 14pt;
    text-decoration: none;
}

.region{
    float: right;
}

.region p{
    float: left;
    display: block;
    color: #d1d1d1;
    margin: 0 0 0 20px;
}

/*HEADER*/

header .container{
    padding: 20px 0;
}

header .logo{
    float: left;
}

header form{
    float: left;
    margin: 5px 0 0 70px;
}

header input{
    width: 260px;
    border: 1px solid #181613;
    background-color: #3b3830;
    padding: 10px 0;
    font-size: 16px;
    color: aliceblue;
}

header button{
    background-color: #929553;
    border: none;
    font-size: 16px;
    padding: 10px 0;
    width: 60px;
}

header .account{
    float: left;
    
}

header p{
    float: left;
}

header .account{
    display: none;
    border: 2px solid yellow;
    width: 500px;
}

header .your{
    font-size: 14pt;
    float: left;
    color: #807a74;
    display: inline;
    margin: 10px 0;
}

header .acc{
    background-color: #181613;
    display: inline;
    float: right;
    width: 300px;
}

header .acc{
    display: inline;
}

header .acc p{
    float: right;
}
/*NAV*/

.nav {
    margin-bottom: 30px;
}

.nav ul{
    display: block;
    margin: 0;
    padding: 0;
}

.nav .container{
    background: url(../img/tree_nav.png) no-repeat center top / cover;
}

.nav li{
    float: left;
    display: block;
    padding: 20px;
    border-right: 1px solid #5c5044;
}

.nav li:hover{
    color: #f2ab22;
}

.nav a{
    color: #f5f5f5;
    font-size: 18px;
    text-decoration: none;
}

/*FACE*/

.face .ad_img img{
    width: 100%;
}

.face .ad{
    margin-top: 10px;
}

.face .block{
    box-sizing: border-box;
    float: left;
    width: 310px;
    height: 140px;
    margin-right: 10px;
}

.face .block:first-child{
    background: url(../img/block1.png) no-repeat center top / cover;
}

.face .block:nth-child(2){
  background: url(../img/block2.png) no-repeat center top / cover;
}

.face .block:last-child{
    background: url(../img/block3.png) no-repeat center top / cover;
    margin-right: 0;
}

.face .block img{
    float: right;
    margin-top: 12px;
}


.face .block p{
    font-size: 27px;
    text-transform: uppercase;
    margin: 0;
    color: white;
}

.face .block .big{
    font-size: 44px;
}

.face .block .half{
    font-size: 21px;
}

.face .block .small{
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.face .block .color{
    color: #f2ab22;
}

.face sub{
    font-size: 25px;
}

.face sup{
    font-size: 21px;
}

/*CONTENT*/

.content .hr{
    background: url(../img/hr.png) no-repeat center top / cover;
    margin: 30px 0;
}

.content .hr p{
    margin: 0;
    padding: 10px 0 10px 20px;
    font-size: 17px;
    color: white;
}

.content .item{
    float: left;
    padding-bottom: 20px;
    margin-right: 40px;
    width: 210px;
}

.content .line:first-child .item{
    border-bottom: 1px solid #474442;
    margin-bottom: 20px;
}

.content .item:last-child{
    margin-right: 0;
}

.content .vine{
    background: url(../img/bg-vine.png) no-repeat center top / cover;
    box-sizing: border-box;
    height: 290px;
    padding: 10px 70px;
}

.content h3{
    font-size: 14px;
    color: white;
    margin: 10px 0 0 0;
}

.content p{
    font-size: 12px;
    color: #807a74;
}

.content .price{
    font-size: 18px;
    color: #f2ab22;
}

.content a{
    font-size: 12pt;
    float: left;
    color: white;
    text-decoration: none;
}

.content .item .clearfix{
    margin-top: 7px;
}

.content .button{
    background: url(../img/bg-add.png) no-repeat center top / cover;
    width: 80px;
    padding: 10px;
}

.content .view{
    background: url(../img/bg-view.png) no-repeat center top / cover;
    width: 50px;
    padding: 9px;
    margin: 1px 0 0 8px;
}

/*FOOTER*/

footer{
    background: #131110;
}

footer .clearfix{
    border-bottom: 1px solid #3d3b3b;
}

footer .list{
    float: left;
    width: 210px;
    padding: 15px 0;
    margin-right: 40px;
}

footer .list:last-child{
    margin-right: 0;
}

footer ul{
    display: block;
    margin: 0;
    padding: 0;
}

footer li{
    font-size: 12px;
    list-style-type: none;
    margin-top: 10px;
}

footer h2{
    font-size: 17px;
    color: #f2ab22;
}

footer a{
    font-size: 12px;
    text-decoration: none;
    color: #807a74;
}

footer p{
    color: #807a74;
    font-size: 12px;
}

footer .list span{
    color: white;
    font-size: 18px;
}

footer p.copy{
    margin: 0;
    padding: 20px 0 60px 0;
    color: #807a74;
}

footer span.copy{
    color: #fffffe;
}