body {
	background-color: #201d19;
}

/*HEADER*/

header {
	margin-bottom: 30px;
}

header p {
	color: #807a74;
}

.navbar-brand,
.navbar-brand:hover {
	color: #fff !important;
	font-family: serif;
	font-size: 54px;
}

.navbar-nav a,
.navbar-nav a:hover {
	color: #fff !important;
}

.navbar-nav .dropdown-menu {
	background-color: #110f0e;
}

.account-nav-dropdown {
	background-color: #171613;
}

.account-nav-dropdown__text {
	color: white;
	margin: 10px 10px 20px;
}

header .row:first-child > div:nth-child(2) {
	padding-top: 12px;
}

@media screen and (max-width: 767px) {
	header .col-md-3:last-child {
		margin-top: 10px;
	}
}

.account {
	margin-left: 15px;
	width: 150px;
}

.account .btn{
	background-color: #171613;
}

.account .text-gold {
	margin-left: 10px;
	margin-right: 10px;
}

.account + p {
	margin-top: 20px;
}

/*SEALS*/

.seal .carousel {
	margin-bottom: 10px;
	max-width: 950px;
}

.seal .carousel-indicators li.active {
	background-color: #f2ab22;
	border-color: #f2ab22;
}

.seal .wrap {
	color: white;
	font-family: serif;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 0 15px;
	height: 140px;
	max-width: 310px;
}

@media screen and (max-width: 767px) {
	.seal .wrap {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.seal .wrap img {
	margin-top: 10%;
}

.seal .wrap p {
	font-size: 24px;
	line-height: 1.25;
}

.seal .wrap .text-gold {
	font-size: 36px;
}

.seal .wrap .big {
	font-size: 36px;
}

.seal .col-xs-12:last-child .wrap p {
	font-size: 12px;
}

.seal .col-xs-12:last-child .wrap p span.text-uppercase:nth-child(5) {
	font-size: 175%;
}

.seal .col-xs-12:last-child .wrap p span.text-uppercase:nth-child(3) {
	font-size: 225%;
}

.seal .col-xs-12:last-child .wrap p span.text-uppercase:nth-child(1) {
	font-size: 300%;
}

@media screen and (max-width: 767px) {
	.seal .wrap:nth-child(-1*a+2) {
		margin-bottom: 
	}
}

.seal .row:last-child .col-xs-12:first-child .wrap{
	background-image: url(../img/block1.png);
}

.seal .row:last-child .col-xs-12:nth-child(2) .wrap {
	background-image: url(../img/block2.png);
}

.seal .row:last-child .col-xs-12:last-child .wrap {
	background-image: url(../img/block3.png);
}

/*PRODUCT*/

.product {
	color: #807a74;
}

.product .row:first-child  .hr {
	background: url(../img/hr.png);
	margin-top: 30px;
	margin-bottom: 10px;
	padding-top: 15px;
	padding-left: 20px;
	height: 44px;
}

.product .row:first-child h2 {
	color: white;
	font-size: 18px;
	margin-top: 0;
}

.product article {
	margin-top: 20px;
	margin-bottom: 20px;
	min-height: 250px;
}

@media screen and (max-width: 767px) {
	.product article {
		padding-left: 15vw;
		padding-right: 15vw;
	}
}

.product .img-wrapper {
	background-color: #3b3830;
	padding: 20px;
	height: 300px;
}

.product h3 {
	color: white;
	font-size: 24px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.product article .text-gold {
	font-size: 18px;
}

.product article:hover p {
	color: #8e914e;
}

.product button,
.product a,
.product a:hover {
	color: #fff !important;
	border-radius: 0;
}

.product button {
	background: url(../img/btn-add.png) no-repeat center/cover;
}

.product a.btn {
	background: url(../img/btn-view.png) top left;
	border: 0;
}

/*FOOTER*/

footer {
	color: #807a74;
	background-color: #131110;
	border-top: 1px solid #23201d;
}

footer .row:first-child {
	border-bottom: 1px solid #3d3b3b;
	padding-top: 30px;
	padding-bottom: 30px;
}

footer li a {
	color: #807a74;
}

footer .social li a {
	background-color: #fff;
	display: block;
}

footer .social img {
	height: 30px;
	width: 30px;
}

footer .row:last-child {
	margin-top: 20px;
	margin-bottom: 20px; 
}

footer p span {
	color: white;
}

/*STYLE*/

.text-gold {
	color: #f2ab22;
}