/*GLOBAL*/
body {
    color: #b7b7b7;
    font-family: OpenSans, AdobeInvisF, MyriadPro-Regular, sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0;
}

a{
    text-decoration: none;    
}

ul{
    display: block;
    padding: 0;
    margin: 0;
}

li{    
    font-size: 18px;
    display: block;
    float: left;
}

h1{
    color: black;
    text-transform: uppercase;
    font-size: 60px;    
}

h2{
    color: #333;
    font-size: 42px;
    text-transform: uppercase;
}

h3{
    margin: 0;
    color: #333;
    font-size: 30px;
    text-transform: uppercase;
}

h4{
    font-size: 22px;
    text-transform: uppercase;
}

h5{
    font-size: 18px;
    text-transform: uppercase;
}

.clearfix{
    content: "";
    display: table;
    width: 100%;
    clear: both;    
}

.container{
    margin: 0 auto;
    width: 1284px;

}

.grid-2{
    float: left;
    width: 182px;
    padding: 0 16px;
}

.grid-3{
    width: 289;
    margin: 0 16px;
}

.grid-4{
    width: 396px;
    margin: 0 16px;
}

.grid-5{
    width: 503px;
    margin: 0 16px;
}

.grid-6{
    width: 610px;
    margin: 0 16px;
}

.grid-8{
    width: 824px;
    margin: 0 16px;
}

.grid-12{
    width: 1252px;
    margin: 0 16px;
}

div {
    box-sizing: border-box;
}

.input{
    box-sizing: border-box;
    border-radius: 5px/5px;
    border: 0px;
    font-size: 18px;
    padding-left: 50px;
}

.button{
    background-color: #dd3d3d;
    border: 0;
    border-radius: 7px/7px;
    color: white;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}

.none-content{
    background-color: #f5f0dd;
}

.hr{
    margin-top: 55px;
    margin-bottom: 80px;
    padding: 1px 0;
    width: 130px;
    background-color: #de3f3f;
}


/*HEADER*/

header {
    background: #f6f2f2;
    padding-top: 30px;
    padding-bottom: 110px;
}

header .nav{
    background-color: #313030;
}

header .logo{
    width: 200px;
    height: 70px;
    background-color: bisque;
    float: left;
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
    color: brown;
}

header nav{
    margin-left: 200px;
    float: left;
}

nav li{
    padding: 40px 20px 30px 20px;
    color: #e0e0e0;
    font-size: 14px;
    text-transform: uppercase;
}

nav li:active{
    background-color: #ff3f40;
}

header .main{
    margin-top: 110px;
}

header h1{
    margin: 0;
    padding: 0;
}

header .button{
    width: 230px;
    height: 55px;
    padding-top: 18px;
    margin-top: 60px;
}

header .grid-6{
    float: left;
}

header .video{
    margin: 10px;
    width: 550px;
    height: 360px;
    background-color: #c4c0b1;
}

/*INFO*/

.info{
    padding: 110px 0;
}

.info .grid-5{
    float: left;
}

.info .grid-6{
    float:left;
    margin-left: 123px;
} 

.info p{
    margin-top: 50px;
}

.info .button{
    background-color: white;
    color: #ff2d2d;
    border: 3px solid red;
    margin-top: 60px;
    height: 50px;
    padding-top: 13px;
    width: 220px;
}

.info .grid-6 .clearfix:first-child{
    margin-bottom: 50px;
}

.info .box-3{
    float: left;
}

.info .box-3:first-child{
    width: 289px;
    margin-right: 0;
}

.info .box-3:last-child{
    width: 289px;
    margin-left: 16px;
}

.info h3{
    margin-top: 30px;
    font-size: 24px;
}

.info p{
    margin: 0;
    margin-top: 20px;
}

/*PRODUCTS*/

.products{
    margin-bottom: 120px;
}

.products .grid-5{
    margin: 0 428px;
}

.products .grid-5{
    text-align: center;
}

.products .hr{
    margin: 0 210px;
    margin-top: 35px;
}

.products li{
    margin-right: 55px;
}

.products a{
    color: #4c4c4c;
}

.products .clearfix:nth-child(2){
    margin-left: 214px;
    margin-top: 80px;
    margin-bottom: 60px;
}

.products .img_box{
    float: left;
    margin-right: 15px;
    margin-bottom: 20px;
    width: 298px;
    height: 290px;
}

/*TEAM*/

.team{
    color: #7c7c7c;
    padding-bottom: 110px;
}

.team p{
    margin-right: 60px;
}

.team h3{
    
}

.team .clearfix p{
    margin-top: 35px;
    margin-bottom: 50px;
}

.team .box-big{
    float: left;
    height: 460px;
    width: 305px;
    margin-left: 16px;
    margin-right: 75px;
}

.team .box-small{
    margin-right: 20px;
    float: left;
    width: 196px;
    height: 210px;
}

.team li{
    margin-right: 30px;
}

.team li:last-child{
    margin-right: 400px;
}

.team li a{
    color: #696969;
}

.mark{
    float: left;
}

.mark p{
    width: 626px;
}

.team ul{
    margin-bottom: 72px;
}
/*SUBSCRIBE*/

.subscribe{
    background-color: #2c2c2c;
    padding: 140px 0;
}

.subscribe h2{
    margin: 0;
    color: #d5d5d5;
    font-size: 42px;
    text-align: center;
}

.subscribe p{
    margin-top: 30px;
    margin-bottom: 60px;
    text-align: center;
}

.email{
    margin: 0 230px;
}


.email input{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 520px;
}

.email button{
    margin-left: 20px;
    padding: 30px 0;
    width: 214px;
}
/*FEADBACK*/

.feadback .clearfix{
   padding-bottom: 110px; 
}

.form{
    float: left;
    margin-left: 16px;
    width: 733px;
}

.form h2{
    margin-top: 108px;
    margin-bottom: 48px;
}

.feadback input{
    width: 340px;
    background-color: #e5e5e5;
    height: 70px;
}

.feadback input:focus{
    padding-left: 0;
}

.feadback input:first-child{
    margin-right: 46px;
}

.feadback textarea{
    box-sizing: border-box;
    margin: 45px 0;
    border-radius: 7px/7px;
    border: 0px;
    background-color: #e5e5e5;
    font-family: sans-serif;
    font-size: 16px;
    height: 225px;
    padding: 35px 50px;
    resize: none;
    width: 730px;
    
}

.feadback textarea:focus{
    padding: 0;
}

.feadback button{
    padding: 28px 0;
    text-transform: uppercase;
    width: 730px;
}

.contacts{
    margin-top: 394px;
    background-color: #313131;
    padding: 140px 50px 140px 80px;
    float: right;
    width: 428px;
}
/*FOOTER*/
footer{
    background-color: #343333;
}

.copyright{
    margin: 50px 0 30px 16px;
    float: left;
}

.social{
    margin: 47px 16px 31px 0;
    float: right;
}

.social a{
    margin: 0 6px;
}

.social a:last-child{
    margin-right: 0;
}