body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: url(../img/bg.png) no-repeat top center / cover;
}

#wrapper{
    width: 1040px;
    margin: 0 auto;
}

.container{
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.clearfix{
    content: "";
    display: table;
    width: 100%;
    clear: both;
}

h1{
    color: #383936;
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    margin-top: 32px;
    margin-right: 30px;
}

a{
    text-decoration: none;
}

div{
    box-sizing: border-box;
}

.gorizon a > li{
    display: inline-block;
}

.orange{
    color: #ee4e1d;
}

/*ACCOUNT*/

#top{
    background-color: #383936;
    color: #949393;
    font-size: 14px;
}

#top .account{
    float: right;
}

#top a{
    color: #949393;
    font-weight: bold;
}

#top nav{
    display: inline-block;
}

#top ul{
    margin: 0;
    padding: 0;
}

#top li{
    margin-right: 40px;
}

#top li:first-child{
    margin-right: 38px;
}

#top .cart{
    background-color: #2f2f2e;
    box-sizing: border-box;
    display: inline-block;
    padding-right: 15px;
}

#top img{
    display: inline-block;
}

#top p{
    display: inline-block;
    margin: 0;
    margin-top: 7px;
    padding-top: 7px;
    padding-bottom: 8px;
}

#top span{
    margin: 0 6px;
}

/*HEADER*/

header{
    background-color: #ee4e1d;
    border-style: solid;
    border-color: #f1683f;
    border-width: 1px 0;
}

header img{
    display: inline;
    margin-top: 17px;
    margin-bottom: 10px;
    margin-left: 2px;
}

header .menu{
    display: inline-block;
}

header ul{
    float: right;
    margin-bottom: 31px;
}

header a{
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    font-weight: bold;
    margin-left: 67px;
}

header a:nth-child(2) {
    margin-left: 77px;
}

header a:nth-child(3) {
    margin-left: 82px;
}

header a:nth-child(4) {
    margin-left: 73px;
}

header a:hover{
    color: #9e2703;
}

/*TITLE*/

#title{
    background-color: white;
    border-bottom: 1px solid #f0ece5;
}

#title .container{
    padding-left: 0;
}

#title span{
    font-family: 'DroidSerif';
    font-size: 15px;
    font-style: italic;
    color: #a4a4a4;
    vertical-align: 7px;
}

/*CONTANT*/

#contant{
    background-color: #f9f8f3;
    padding-top: 45px;
    padding-bottom: 59px;
}

#contant .face{
    background-color: white;
    display: inline-block;
    width: 620px;
}

#contant .news{
    padding-bottom: 60px;
}

#contant .news img{
    width: 100%;
}

#contant .data{
    background-color: #ee4e1d;
    display: inline-block;
    box-sizing: border-box;
    color: white;
    text-align: center;
    padding: 10px;
    margin-left: 20px;
    margin-right: 5px;
    height: 50px;
    width: 50px;
    vertical-align: 12px;
}

#contant .data h3{
    margin-bottom: 6px;
}

#contant .data span{
    font-size: 14px;
}

#contant .data span:first-child{
    display: block;
    font-size: 7px;
    text-transform: uppercase;
}

#contant .info{
    display: inline-block;
}

#contant .menu h3{
    color: #383936;
    font-size: 18px;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
}

#contant .news p{
    font-size: 14px;
    margin: 0;
    margin-top: 20px;
    margin-left: 20px;
}

#contant .info p{
    color: #a4a4a4;
    font-size: 13px;
    font-style: italic;
    margin: 0;
}

#contant .pages{
    display: inline-block;
    margin-left: 20px;
}

#contant .page{
    background-color: #414141;
    box-sizing: border-box;
    color: white;
    display: inline-block;
    height: 40px;
    margin-right: 11px;
    padding-top: 12px;
    width: 40px;
    border-radius: 2px/2px;
}

#contant .page:hover{
    background-color: #ee4e1d;
}

#contant .page p{
    font-size: 18px;
    font-style: italic;
    font-weight:normal;
    margin: 0;
    text-align: center;
}

#contant .list{
    display: inline-block;
    float: right;
}

#contant .menu{
    display: inline-block;
    margin-left: 19px;
    vertical-align: top;
    width: 290px;
}

#contant h2{
    color: #ee4e1d;
    font-size: 20px;
    margin-top: -2px;
    margin-bottom: 30px;
    margin-left: -5px;
    text-transform: uppercase;
}

#contant .connection a{
    display: inline-block;
    margin-right: 11px;
}

#contant .connection a:first-child{
    margin-left: -4px;
}

#contant .connection a:nth-child(2){
    margin-right: 8px;
}

#contant .connection a:nth-child(3){
    margin-right: 9px;   
}


#contant .connection img{
    margin: 0;
    padding: 0;
}

#contant input{
    box-sizing: border-box;
    border: 1px solid #f5f5f1;
    border-radius: 2px/2px;
    font-size: 15px;
    font-style: italic;
    height: 50px;
    margin-left: -3px;
    padding-left: 25px;
    width: 300px;
}

#contant .serch h2{
    margin-bottom: 25px;
}

#contant button{
    background: none;
    border: none;
    position: relative;
    bottom: 39px;
    left: 251px;
}

#contant input:focus{
    padding-left: 0;
}

#contant .coment{
    padding-top: 6px;
    margin-left: -4px;
    margin-bottom: 25px;
}

#contant .coment:last-child{
    margin-top: 35px;
}

#contant .comments img{
    display: inline-block;
    height: 60px;
    margin-right: 3px;
    width: 60px;
}

#contant .text{
    display: inline-block;
    vertical-align: top;
    width: 200px;
}

#contant .comments h3{
    display: inline-block;
    margin-top: -1px;
    vertical-align: top;
}

#contant .comments .time{
    display: inline-block;
    font-size: 10px;
    font-style: italic;
    margin-top: 4px;
    margin-left: 5px;
    vertical-align: top;
}

#contant .comments p{
    display: inline-block;
    color: #828282;
    font-size: 13px;
    margin: 0;
    margin-top: 5px;
}

#contant .separator{
    background: url(../img/separator.png) no-repeat top center / cover;
    height: 11px;
    margin-top: 27px;
    margin-bottom: 31px;
}

#contant .separator:nth-child(2){
    margin-top: -5px;
    margin-bottom: 31px;
}

#contant .separator:nth-child(3){
    margin-bottom: 34px;
}

#contant .box{
    background-color: white;
    padding-bottom: 13px;
    border-bottom: 1px solid #d0d4ee;
    width: 300px;
    margin-left: -3px;
}

#contant .name{
    font-size: 16px;
    font-weight: bold;
    margin: 16px 0px 0px 16px;
    display: inline-block;
}

#contant .product p{
    font-size: 11px;
    font-style: italic;
    margin-left: 16px;
    margin-bottom: 19px;
}

#contant .product .price{
    color: #525351;
    display: inline-block;
    font-size: 20px;
    margin-left: 16px;
}

#contant .product a{
    color: white;
    float: right;
    font-size: 15px;
    font-weight: bold;
    margin-right: -6px;
    text-align: center;
    text-decoration: none;
}

#contant .product .button{
    background-color: #f15d23;
    border-radius: 2px/2px;
    padding: 6px 13px;
}

#contant .check:last-child{
    margin-right: 12px;
}

#contant .check:nth-child(2){
    margin-right: 13px;
}

#contant .radio{
    background-color: #878787;
    border: 4px solid #545454;
    border-radius: 50%/50%;
    box-sizing: border-box;
    display: inline-block;
    float: right;
    height: 18px;
    margin-right: 10px;
    width: 18px;
    
}

#contant .radio:hover{
    background-color: #ecedee;
}

/*FOOTER*/

footer{
    background-color: #222221;
    color: #adadad;
    font-size: 12px;
    padding: 25px 0;
}

footer .container > div{
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
    width: 220px;
}

footer .container div:first-child{
    margin-left: 0;
}

footer .container div:last-child{
    margin-right: 0;
}

footer h4{
    color: white;
    font-size: 16px;
    margin: 0;
    margin: 18px 0;
    text-transform: uppercase;
}

footer .info img{
    display: inline-block;
    padding-bottom: 20px;
}

footer .info p{
    margin: 0;
}

footer ul{
    margin: 0;
    padding: 0;
}

footer .line{
    display: inline-block;
    margin: 0;
}

footer li{
    list-style-type: none;
    width: 100px;
}

footer li a{
    color: #6c6c6c;
    text-decoration: none;
}

footer .dinamix{
    color: #d3d3d3;
}

footer .photo img{
    margin: 0 7px 10px 0;
}

footer .mas{
    padding-bottom: 20px;
}

footer .mas p{
    margin: 0 0 10px 0;
}

footer .mas_data{
    font-size: 10px;
    color: #514f4f;
    font-style: italic;
}

/*COPYRIGHT*/

#copy{
    background: #ee4e1d;
    display: inline-block;
    font-size: 12pt;
    text-transform: uppercase;
    color: #982a08;
    padding: 10px 20px 10px 14px;
    margin: 20px 0 30px 0;
}

#copy span{
    color: #f1f1ed;
}

#copy p{
    margin: 0;
}