body{
    margin: 0;
    padding: 0;
    background: url(../img/Background.png) no-repeat center top / cover;
    font-family: sans-serif;
}

div{
    box-sizing: border-box;
}

.clearfix{
    content: "";
    display: table;
    width: 100%;
    clear: both;
}

.container{
    margin: auto;
    padding-bottom: 210px;
    width: 600px;
}

.container .sorry{
    margin: 90px 120px 50px 120px;
}

.container .whoops{
    margin: 0 110px;
    margin-bottom: 40px;
}

.container p{
    color: #90d37d;
    font-size: 17pt;
    margin: 0;
    text-align: center;
}

.container .action{
    margin: 60px 100px 0 100px;
}

.btn{
    background-color: #f0f0f0;
    border-radius: 50%;
    float: left;
    width: 55px;
    height: 55px;
    padding: 15px;
}

form{
    float: left;
    margin-left: 20px;
}

button{
    background: none;
    border: none;
    position: absolute;
    margin: 15px;
}

input{
    background-color: #397b26;
    border-radius: 30px;
    border-bottom-color: #71a662;
    border-right-color: #71a662;
    border-top-color: #327124;
    height: 55px;
    font-size: 16pt;
    width: 220px;
    padding-left: 60px;
}