body {
	font-size: 16px;
}

section {
	padding-top: 60px;
	padding-bottom: 60px;
}

h2 {
	font-weight: bold;
	margin-bottom: 40px;
}

h2 + p {
	margin-bottom: 40px;
}


/*HEADER*/

header {
	background-color: #f6f2f2;
	padding-top: 30px;
	padding-bottom: 100px;
}

header .line {
	background-color: #313030;
}

.header-nav__link {
	padding: 20px 20px !important;
}

header .line nav a {
	color: white;
}

header .line nav li.active a,
header .line nav li.active:hover a,
header .line nav a:hover {
	color: white;
	font-weight: bolder;
	background: #ff3f40;
	border-radius: 0;
}

.header-dropdown-nav__btn,
.header-dropdown-nav__btn:focus {
	color: #ff2d2d;
	background-color: #1c1b1b;
	padding-top: 10px;
	padding-bottom: 10px;
}

.header-dropdown-nav__btn:hover {
	color: #b32020;
}

.active .header-dropdown-nav__link {
	background-color: #ff2d2d !important;
}

header .orgn {
	padding-top: 90px;
}

header h2 {
	font-size: 56px;
}

header .orgn p {
	margin-bottom: 40px;
}

header a.btn {
	margin-bottom: 40px;
}

header .video {
	background-color: #c4c0b1;
	position: relative;
	box-shadow: 0 0 50px 20px #aaa;
	height: 350px;
	max-width: 550px;
}

header .play {
	display: block;
	position: absolute;
	top: calc(50% - 35px);
	left: calc(50% - 35px);
	border: 7px solid white;
	border-radius: 50px;
	height: 70px;
	width: 70px;
}

header .play > div {
	display: block;
	border: 17px solid transparent;
	margin-top: calc(50% - 18px);
	margin-left: calc(50% - 6px);
	border-left: 17px solid white;
	height: 0;
	width: 0;
}

/*PRICE*/

.price {
	border-bottom: 1px solid #ececec;
}

.price a.btn {
	margin-bottom: 40px;
}

.price .price-label .col-xs-12 {
	padding-bottom: 30px;
}

@media screen and (max-width: 767px) {
	.price .price-label .col-xs-12 {
		text-align: center;
		padding-left: 20%;
		padding-right: 20%;
	}
}

.price .fa {
	color: red;
}

.price h3 {
	font-weight: bold;
}

.price h3 + p {
	font-size: 14px;
}

/*PRODUCT*/

.product .links {
	padding-top: 40px;
	padding-bottom: 40px;
}

.product .links a {
	color: black;
	font-weight: bold;
}

.product .links .active a,
.product .links a:hover {
	color: red;
}

.products > div {
	margin-bottom: 20px;
}

.products a {
	background-color: #5281ff;
	display: block;
	height: 40vh;
	max-width: 80%;
}

/*TEAM*/

.team .select-img a {
	background-color: #f5f0dd;
	display: block;
	margin-top: 15px;
	height: 80vh;
	max-width: 300px;
}

.team .select-info .row:first-child h3,
.team .select-info .row:first-child h3 + p {
	margin-bottom: 30px;
}

.team .select-info ul a {
	color: black;
	font-style: italic;
}

.team .select-info .row:last-child {
	margin-top: 30px;
}

.team .select-info .row:last-child a {
	background-color: #f5f0dd;
	display: block;
	height: 30vh;
	width: 100%;
}

@media screen and (max-width: 767px) {
	.team .select-info .row:last-child a {
		margin-bottom: 20px;
		width: 60%;
	}
}

/*SUBSCRIBE*/

.subscribe {
	color: white;
	background-color: #2c2c2c;
	padding-top: 100px;
	padding-bottom: 100px;
}

.subscribe h2 {
	font-size: 42px;
}

.subscribe form {
	max-width: 700px;
}

.subscribe button {
	border-color: #ff2d2d;
}

/*FEEDBACK*/

.feedback form .form-group {
	margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
	.feedback [type="email"] {
		margin-top: 30px;
	}
}

.feedback textarea {
	resize: none;
}

.feedback [type="submit"] {
	padding-top: 23px;
	padding-bottom: 23px;
	height: auto;
}

.feedback .adr {
	color: white;
	background-color: #2d2d2d;
	padding-left: 80px;
	padding-top: 140px;
	padding-bottom: 140px;
}

/*FOOTER*/

footer {
	color: #b8b8b8;
	background-color: #313030;
	padding-top: 20px;
	padding-bottom: 20px;
}

footer .list-inline li {
	background-color: #ebebeb;
	border-radius: 50px;
	padding-top: 6px;
	height: 34px;
	width: 34px;
}

footer .list-inline li + li {
	margin-left: 15px;
}

footer .list-inline a {
	color: #313030;
}

/*STYLE*/

.bg-red {
	color: white;
	background-color: #ff2d2d;
}

.border-red {
	color: #ff2d2d;
	background-color: transparent;
	border: 2px solid #f00;
}

.hr {
	border-top: 2px solid red;
	width: 60%;
}

.hr.pull-left {
	margin: 0;
	margin-bottom: 40px; 
}