body {
	color: #505050;
	background-color: #f1f1f1;
}

/*NAVBAR*/

nav.navbar {
	background-color: #f8f8f8;
	border: none;
	border-bottom: 1px solid #f0f0f0;
	padding-top: 30px;
	padding-bottom: 30px;
}

.navbar-brand {
	font-size: 34px;
}

.navbar-default .navbar-nav li a {
	margin-left: 20px;
	padding: 10px 20px;
}

.navbar-default .navbar-nav li.active a,
.navbar-default .navbar-nav li.active:hover a {
	background-color: #fdfdfd;
	border: 1px solid #dedede;
	border-radius: 8px;
	padding: 10px 20px; 
}

/*TIMER*/

main {
	box-shadow: 0 20px 30px -10px #d4d4d4;
	border: none;
	border-bottom: 1px solid #d4d4d4;
	padding-top: 60px;
	padding-bottom: 60px;
}

main h1 {
	font-size: 22px;
}

.inner {
	font-weight: bolder;
}

.time {
	font-size: 100px;
	font-weight: bold;
}

@media screen and (max-width: 767px) {
	.time {
		font-size: 60px;
	}
}

.inner span {
	font-size: 24px;
}

/*BLOCKS*/

.blocks {
	padding-top: 30px;
	padding-bottom: 30px;
}

.blocks .box {
	overflow: hidden;
	max-width: 340px;
}

.blocks .box img {
	margin-right: 10px;
}

.blocks .box h3 {
	margin-top: 10px;
	margin-bottom: 25px;
}

.main-separator {
	background-color: #e9e9e9;
	border: 1px solid #d6d6d6;
	border-left: none;
	border-right: none;
	padding: 30px 0;
}

h2 {
	font-size: 46px;
}

@media screen and (max-width: 767px) {
	h2 {
		text-align: center;
	}
}

.btn-block {
	font-size: 28px;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
}

@media screen and (max-width: 767px) {
	.btn-block {
		font-size: 24px;
	}
}

.btn-info {
	background: linear-gradient(#abe4f8 , #6fcef3);
	color: #42788e;
}

.btn-success {
	background: linear-gradient(#cae285, #9eca56);
	color: #647e38;
}

/*FOOTER*/

footer {
	color: #d7d7d7;
	background-color: #252120;
	padding-top: 25px;
	padding-bottom: 50px;
}

footer .container > .row > div {
	padding-bottom: 15px;
}

footer h4 {
	color: #f1f1f1;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 1px solid #161616;
	border-bottom: 1px solid #353535; 
}

footer a {
	color: #d7d7d7;
}

footer a:hover {
	color: #d7d7d7;
}

footer form {
	background-color: #232323;
	border: 1px solid #1d1d1d;
	border-bottom: 1px solid #3c3d3c;
	border-radius: 6px;
	padding: 5px; 
}

footer .form-group {
	margin-bottom: 0;
}

footer input[type="text"] {
	color: white;
	background-color: transparent;
	border: transparent;
}

footer input[type="text"]:focus {
	box-shadow: none;
}