/*GLOBAL STYLE*/

body {
    color: #505050;
    margin: 0;
    padding: 0;
    font: Myriad Pro, sans-serif;
}

a{
    text-decoration: none;
}

p{
    font-size: 14px;
}

.grid-3{
    width: 220px;
    margin: 0 10px;
    float: left;
}

.grid-4{
    margin: 0 10px;
    width: 300px;
    float: left;
}

.grid-6 {
    width: 480px;
    float: left;
}

.clearfix:after{
    content: "";
    display: table;
    width: 100%;
    clear: both;
}

section {
    background-color: #f1f1f1;
}

.container{
    margin: 0 auto;
    width: 960px;
}

.border{
    border-top: 2px solid #d4d4d4;
}

.button{
    background-color: #7ad2f4;
    float: left;
    margin: 38px 10px 40px 10px;
    width: 210px;
    padding: 18px 0;
    border: 1px solid #63aac6;
    border-radius: 3px/3px;
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    color: #42788e;
}

.green{
    background-color: #c8e183;
    border-color: #aec671;
    color: #597e38;
}

/*HEADER*/

header {
    background-color: #f8f8f8;
}

.heading{
    padding-top: 33px;
    padding-bottom: 25px;
}

.logo {
    float: left;
}

nav.grid-6 {
    float: left;
}

nav ul {
    padding: 0;
    margin: 0;
    display: block;
}

nav li {
    text-align: center;
    float: left;
    box-sizing: border-box;
    padding: 9px 9px;
    margin: 0 10px;
    display: block;
}

li a{
    color: #6c6c6c;
    text-decoration: none;
    font-size: 14px;
}

 li a:focus{
    background-color: #fdfdfd;
    padding: 9px;
    border: 1px solid #d8d8d8;
    border-radius: 3px/3px;
}

/*TIMER*/

#timer {
    padding: 50px 0;
    text-align: center;
}

#timer ul{
    padding: 0 100px;
    margin: 0;
    display: block;
}

#timer li{
    float: left;
    display: block;
    margin: 0 35px;
}

#timer p{
    font-size: 22px;
    font-weight: 400;
}

.time h2{
    margin: 0;
    font-size: 105px;
}

/*CONTENT*/

#content {
    font-size: 13px;
    background: #f1f1f1;
}

#content .demo{
    background: #e9e9e9;
}

.line {
    padding: 30px 0;
}

.elemen img{
    width: 42px;
    display: inline;
    float: left;
}

.elemen div h3{
    margin: 5px 0px 5px 10px;
    padding: 0;
    font-size: 22px;
    display: inline;
    float: left;
}

.elemen p{
    display: inline-block;
}

.demo h2 {
    font-size: 46px;
    margin: 38px 0 40px 10px;
}


/*
.button {
    display: inline;

}

.demo .button a{

}
*/

/*FOOTER*/

footer{
    background: #262626;
    font-size: 12px;
    padding: 30px 0;
}

footer h3{
    color: #f1f1f1;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

footer ul {
    padding: 0;
    margin: 0;
}

footer li{
    display: block;
}

foooter a{
    font-size: 13pt;
    color: #d7d7d7;
}

footer a:checked{
    border: none;
}

footer hr{
    border-color: #161616;
}

.subscribe p{
    font-size: 13px;
    text-align: inherit;
}

footer input{
    color: white;
    background-color: #232323;
    border: 1px solid #1d1d1d;
    border-bottom-color: #3a3d3d;
    border-radius: 7px/7px;
    padding: 3px 0;
}

footer button{
    background-color: #e5e5e5;
    border: 0;
    border-radius: 7px/7px;
}