body {
	color: white;
	background: url(../img/bg.jpg) no-repeat center/cover;
}

/*NAVBAR*/

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.navbar-brand {
	color: white;
	font-size: 30px;
	display: block;
	margin-bottom: 20px;
	height: 80px;
}

.navbar-brand:hover {
	color: white;
}

.navbar-brand span {
	margin-top: 20px;
	margin-left: 20px;
	display: inline-block;
}

.navbar .dropdown {
	background-color: #2f2f2e;
}

.navbar .dropdown .badge {
	margin: 0 15px;
}

/*HEADER*/

header {
	max-height: 100px;
}

header ul {
	padding-top: 20px;
}

header .list-inline {
	padding-top: 30px;
	padding-bottom: 20px;
}

header ul a {
	color: white;
	font-size: 16px;
	font-weight: bold;
}

header ul a:hover,
header ul a.active {
	color: #9e2703;
	background-color: transparent !important;
}

/*TITLE*/

.title {
	background-color: #fff;
}

h1 {
	color: #383936;
	font-weight: bold;
}

h1 > small {
	color: #a4a4a4;
}

/*CONTENT*/

.content {
	background-color: #fbf4f6;
	padding-top: 30px;
	padding-bottom: 50px;
}

.content article {
	background-color: #fff;
	padding-bottom: 50px;
}

.content article .header {
	padding-top: 20px;
	padding-bottom: 20px;
}

.content article section {
	padding-left: 20px;
	padding-right: 20px;  
}

.content time {
	font-weight: bold;
	display: block;
	margin-right: 10px;
	padding-top: 5px;
	height: 50px;
	width: 50px;
}

.content h4 {
	color: #383936;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
}

.content city {
	color: #a4a4a4;
}

.content p {
	color: #525351;
}

.content .pager-link {
	background-color: #fff;
	padding: 20px 20px 50px;
}

.pager-link li + li {
	margin-left: 12px;
}

.content .pager-link a {
	color: white;
	font-size: 18px;
	background-color: #3c3d3f;
	display: block;
	border-radius: 8px;
	padding: 8px;
	height: 40px;
	width: 40px;
}

.content .pager-link li.active a,
.content .pager-link a:hover {
	background-color: #ee4e1d !important;
}

.content .pager-link .pull-left a {
	font-style: italic;
	font-weight: lighter;
}

.content .pager-link .pull-right a{
	font-weight: bolder;
}

.content .pager-link .pull-right a:hover {
	text-decoration: none;
}

.content aside > section {
	padding-bottom: 20px;
}

.content aside h3 {
	font-weight: bolder;
	margin-bottom: 30px;
}

.content aside .contacts .list-inline li + li {
	margin-left: 5px;
	height: 40px;
}

.content aside .media h4 {
	margin-top: 0;
	margin-bottom: 15px;
}

.content aside .media h4 city {
	font-style: italic;
	margin-left: 20px;
}

.content .slider {
	background-color: #fff;
	padding-bottom: 20px;
}

.content .slider > :nth-child(n+2) {
	margin-left: 20px;
	margin-right: 20px;
}

.content .slider img {
	margin-bottom: 20px;
}

.content .slider > p {
	color: #a4a4a4;
	font-style: italic;
}

.content .price {
	color: #525351;
	font-size: 20px;
	font-weight: bolder;
}

.hr-separator	{
	background: url(../img/separator.png) no-repeat top left/cover;
	margin-bottom: 20px;
	border-top: 1px solid #e6e6e6;
	height: 12px;
}

/*FOOTER*/

footer {
	color: #adadad;
	background-color: #222;
	padding-top: 20px;
	padding-bottom: 20px;
}

footer .footer-logo {
	margin-right: 20px;
}

footer h4 {
	color: #f1f1ed;
	margin-bottom: 30px;
}

footer .flex-box {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 100px;
}

footer .flex-box div {
	margin-bottom: 5px;
}

footer .flex-box a {
	color: #6c6c6c;
}

footer .photo .col-xs-4 {
	margin-bottom: 15px;
}

footer .post {
	font-size: 12px;
	padding-bottom: 15px;
}

footer .post .user {
	color: white;
}

footer .post a {
	color: white;
}

footer .post time {
	color: #514f4f;
	font-style: italic;
}

/*COPY*/

.copyright .col-xs-5{
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 5px;
	height: 30px;
}

.copyright span {
	color: #982a08;
}

/*STYLE*/

.text-orange {
	color: #ee4e1d;
}

.bg-orange {
	background-color: #ee4e1d;
}