body {
	background: url(../img/background.jpg) no-repeat center/cover;
	padding-top: 5vh;
	height: 100vh;
}

img:last-child {
	margin-top: 3vh;
}

p {
	color: #a8eb95;
	font-size: 16px;
	margin-top: 2vh;
	margin-bottom: 2vh;
	max-width: 430px;
}

.btn {
	display: inline-block;
	border-radius: 50px;
	padding: 12px 9px;
	height: 54px; 
	width: 54px;
}

.fa-home {
	color: #5b9e47;
	font-size: 26px;
}

.input-group {
	background-color: #397b26;
	margin-left: 20px;
	border-radius: 50px;
	border: 2px solid #327124;
	border-bottom-color: #589447;
	height: 54px;
	max-width: 270px;
}

@media screen and (max-width: 767px) {
	.input-group {
		margin-left: auto;
		margin-right: auto;
	}
}

.input-group-addon {
	color: white;
	background-color: transparent;
	border: none;
	padding-top: 0;
	padding-left: 20px;
	max-width: 270px;
}

.input-group-addon:hover span {
	color: #f1f1f1;
}

input {
	color: white;
	font-size: 20px;
	background-color: transparent;
	border: none;
	padding-left: 20px;
	height: 54px;
}

input[type="text"]:focus {
	outline: none;
}